dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.4
django-filter==2.4.0
djangorestframework==3.12.2
filter==0.0.0.20200724
Pillow @ file:///tmp/build/80754af9/pillow_1603822255246/work
psycopg2-binary==2.8.6
python-decouple==3.4
static3==0.7.0
virtualenv==20.4.0